bin/
obj/
.vs/
*.user
*.suo
*.log
*.zip
BimboClubManager_Release/
UpdateServerMock/packages/
BimboClubManager.exe
RevitServerManager.exe
RevitServerManager_Setup.exe
RevitServerManagerInstaller/Payload/
*.ovpn
